@mixin background {
    background-image: url("../images/blue-endless-ocean-in-fog-picjumbo-com.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body, html {
    height: 100%;
    margin: 0;
}

body {
    @include background;

    #gdansk, .search{
        margin-left: .5em;
    }

    .card {
        visibility:hidden;
        margin-top: 2em;
        padding-top: 1em;
        background-color: rgba(255, 255, 255, 0.5);

        .center {
            text-align: center;
        }

        .day {
            font-weight: bold;
            font-size: 1.2em;
        }

        .weatherIcon {
            font-size: 3em;
            color: rgb(0, 134, 191);
        }

        .temperatureDetail {
            padding-top: .75em;
        }

        .detail {
            padding-top: 3em;
            // font-size: 1.2em;

            .detailsIcon {
                // height: 2.25vw;
                // width: 2.25vw;
            }
        }
    }
}
