@mixin background {
    background-image: url("../images/blue-endless-ocean-in-fog-picjumbo-com.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

$maincolor: rgb(0, 134, 191);

body, html {
    height: 100%;
    margin: 0;
}

body {
    @include background;

    .cityName:hover {
        background-color: $maincolor;
    }

    #gdansk, .search{
        margin-left: .5em;
    }

    .card {
        visibility: hidden;
        margin-top: 2em;
        padding-top: 1em;
        background-color: rgba(255, 255, 255, 0.5);

        .card-title {
            font-size: 2.5em;
        }

        .center {
            text-align: center;
        }

        .day {
            font-weight: bold;
            font-size: 1.2em;
        }

        .weatherIcon {
            font-size: 3em;
            color: $maincolor;
        }

        .temperatureDetail {
            padding-top: .75em;
        }

        .detail {
            padding-top: 3em;
        }
    }
}
